{% extends 'base.html' %}
{% block title %}
Training
{% endblock %}

{% block content %}
<style>
    .training_ptag{
        border-style: solid;
        border-color: rgb(19, 80, 43);
        background-color: rgb(17, 136, 52);
    }
</style>
<script>
    // Set the date we're counting down to
    var countDownDate = new Date("{{ training_timer.finished_training|date:'N j, Y H:i:s' }}").getTime();
    
    // Update the count down every 1 second
    var x = setInterval(function() {
    
      // Get today's date and time
      var now = new Date().getTime();
    
      // Find the distance between now and the count down date
      var distance = countDownDate - now;
    
      // Time calculations for days, hours, minutes and seconds
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);

      // Display the result in the element with id="demo"
      document.getElementById("demo").innerHTML ="{{all_gorillas.name}}"+" trenuje, wróci z treningu za: "+ minutes + "m " + seconds + "s ";
      // If the count down is finished, write some text
      if (distance < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "{{all_gorillas.name}} wrócił z treningu!";
      }
    }, 1000);
</script>
{% if training_timer != None %}
    <center>
        <p class="training_ptag" id="demo"></p>
    </center>
{% endif %}
<center>
    {{all_gorillas.name}}
    <br>
    Siła: {{all_gorillas.strength}}
    <br>
    Wytrzymałość: {{all_gorillas.hp}}
    <br>
    <br>
    <form action='actionUrl' method='post' style="display: inline-block;">
        <h5>
            Trenuj 
            <br>
            Siłę
        </h5>
        {% csrf_token %}
        <br>
        <button type='submit'> Train </button>
    </form>
    <form action='actionUrl2' method='post' style="display: inline-block; padding-left: 100px;">
        <h5>
            Trenuj 
            <br>
            Wytrzymałość
        </h5>
        {% csrf_token %}
        <br>
        <button type='submit'> Train </button>
    </form>
</center>
<br>
<h6>Banan : {{items.item1}}</h6>
<h6>Smoczy owoc : {{items.item2}}</h6>
<h6>Szpinak : {{items.item3}}</h6>
<h6>Jabłko : {{items.item4}}</h6>
<h6>Sałata : {{items.item5}}</h6>
<h5>Koszt treningu:</h5>
<h6>Banan: 2 Szpinak: 5</h6>
<br>
<br>
<a href="/" class="link-light">
    Wróć
</a>
{% endblock %}
