{% extends 'base.html' %}

{% block title %}
    PvE
{% endblock %}
{% block content %}
<style>
    .gorilla-image{
        height: 200px
    }
    
</style>
<center>
<div>
    <div>
        <div style="display: inline-block; padding-left: 10px;">
            <img class="gorilla-image" src="https://media.istockphoto.com/photos/got-something-in-my-teeth-picture-id619540238?k=20&m=619540238&s=612x612&w=0&h=VoImXAvUXD5IQkGMt_yFWIO4DnJx8pJoL2MDrwgQZnI=">
            <br>
            <center>
            {{my_gorilla.name}}
            <p>Stats:</p>
            <p>{{my_gorilla.strength}} Strength</p>
            <p>{{my_gorilla.hp}} HP</p>
            </center>
        </div>
        <div style="display: inline-block; padding-left: 100px; padding-top: 20px;">
            {% for move in move_list %}
                <p>{{ move }}</p>
            {% endfor %}
                <p>{{ winner }}</p>
            {% if prize is not None %}
                <p>{{ prize }}</p>
            {% endif %}
        </div>
        <div style="display: inline-block; padding-left: 100px; padding-top: 20px;">
            <img class="gorilla-image" src="https://ep.com.pl/i/2015/08/13/14590-d01e-740x0-sc1x4_92-jaszczurki.jpg">
            <br>
            <center>
            {{enemy.name}}
            <p>Stats:</p>
            <p>{{enemy.strength}} Strength</p>
            <p>{{enemy.health_points}} HP</p>
            </center>
        </div>
    </div>
</div>
</center>
<br>
<br>
<br>
<a href="/pve_combat">
    Return
</a>
{% endblock %}