{% extends 'base.html' %}
{% block title %}
Training
{% endblock %}

{% block content %}

<script>
    // Set the date we're counting down to
    var countDownDate = new Date("{{ training_timer.finished_training|date:'N j, Y H:i:s' }}").getTime();
    
    // Update the count down every 1 second
    var x = setInterval(function() {
    
      // Get today's date and time
      var now = new Date().getTime();
    
      // Find the distance between now and the count down date
      var distance = countDownDate - now;
    
      // Time calculations for days, hours, minutes and seconds
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);

      // Display the result in the element with id="demo"
      document.getElementById("demo").innerHTML = minutes + "m " + seconds + "s ";
      // If the count down is finished, write some text
      if (distance < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "{{all_gorillas.name}} wrócił z treningu!";
      }
    }, 1000);
</script>
{% if training_timer != None %}
    <center>
        <p id="demo"></p>
    </center>
{% endif %}
<center>
    {% if all_gorillas %}
        <select>
            <option value="monke">{{ all_gorillas.name }}</option>
        </select>
        <h6>Siła goryla: {{all_gorillas.strength}}</h6>
    {% endif %}
    <br>
    <form action='actionUrl' method='post'>
        {% csrf_token %}
        <button type='submit'> Train </button>
    </form>
</center>
<br>
<h6>Banan : {{items.item1}}</h6>
<h6>Smoczy owoc : {{items.item2}}</h6>
<h6>Szpinak : {{items.item3}}</h6>
<h6>Jabłko : {{items.item4}}</h6>
<h6>Sałata : {{items.item5}}</h6>
<h5>Koszt treningu:</h5>
<h6>Banan: 2 Szpinak: 5</h6>
<br>
<br>
<a href="/">
    Return
</a>
{% endblock %}
